@import "../../mixins.scss";

.Interesting {
  margin-bottom: 56px;

  @include onMobile {
    margin-bottom: 24px;
  }

  &__title {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;

    color: #91A0B6;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;

    @include onMobile {
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 24px;
    }
  }

  &__item {
    flex-basis: calc(100% / 3 - 64px);
    margin-bottom: 16px;

    @include onMobile {
      flex-basis: auto;
      margin-bottom: 0;
    }

    &-img {
      &:hover {
        transform: scale(1.1);
        transition-duration: 0.5s;
      }

      @include onMobile {
        width: 343px;
        height: 240px;
        margin-bottom: 16px;
      }
    }

    &-date {
      margin-bottom: 8px;
      font-size: 16px;
      line-height: 24px;
  
      color: #adb8c8;
    }
  
    &-title {
      margin-bottom: 8px;
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
  
      color: #242424;
    }
  
    &-text {
      font-size: 16px;
      line-height: 24px;
  
      color: #78787a;
    }
  }
}