@import "../../mixins.scss";

.Weather {
  display: flex;
  flex-direction: row;

  background: rgba(4, 191, 148, 0.16);
  border-radius: 16px;
  margin-bottom: 48px;

  @include onMobile {
    margin-bottom: 18px;
  }

  &__side {
    padding: 56px 0 56px 56px;

    @include onMobile {
      padding: 16px;
    }
  }

  &__title {
    width: 736px;
    margin-bottom: 8px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;

    display: flex;
    align-items: center;

    color: #04bf94;

    @include onMobile {
      width: 311px;
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__temp {
    margin-bottom: 16px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;

    display: flex;
    align-items: center;

    color: #242424;

    @include onMobile {
      display: none;
    }
  }

  &__text-mob {
    display: none;

    @include onMobile {
      display: block;

      margin-bottom: 16px;

      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
      color: #242424;
    }
  }

  &__img {
    width: 380px;
    height: 260px;

    position: relative;
    top: 8px;
    left: -100px;

    @include onMobile {
      display: none;
    }
  }

  &__search {
    width: 522px;
    height: 56px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 19px;

    background: #FFFFFF;
    box-shadow: 0px 0.470434px 2.21381px rgba(0, 0, 0, 0.0196802);
    border-radius: 12px;

    @include onMobile {
      width: 311px;
      height: 40px;
    }
  }

  &__input {
    border: none;
    outline: none;
    width: 440px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    color: #91A0B6;

    @include onMobile {
      width: 235px;
      height: 20px;

      font-size: 14px;
      line-height: 20px;
    }
  }

  &__ico {
    height: 17px;
    width: 17px;
  }
}
