@import "../../mixins.scss";

.NoArticles {
  display: flex;
  height: 252px;
  flex-direction: row;
  padding: 24px 0 24px 24px;
  margin-bottom: 56px;
  background: linear-gradient(90deg, #ede0cf 7.49%, rgba(222, 157, 140, 0.833) 100%);
  border-radius: 12px;

  @include onMobile {
    padding: 16px;
    height: 262px;
  }

  &__content {
    padding-top: 40px;
  }

  &__title {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;

    color: #bf7a04;

    @include onMobile {
      font-weight: 800;
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__text {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    color: #000;

    @include onMobile {
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 16px;
    }
  }

  &__img {
    position: relative;
    width: 322px;
    height: 316px;
    top: -60px;
    left: 95px;

    @include onMobile {
      display: none;
    }
  }
}