@import "../../mixins.scss";

.TopArticle {
  padding-bottom: 56px;
  margin-bottom: 16px;
  border-bottom: 1px solid #c4c4c4;

  @include onMobile {
    padding-bottom: 23px;
    margin-bottom: 8px;
  }

  &__title {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;

    text-transform: uppercase;

    color: #91A0B6;
  }

  &__content {
    display: flex;
    flex-direction: row;
    gap: 32px;

    @include onMobile {
      flex-direction: column;
      gap: 23px;
    }
  }

  &__article {
    flex-basis: 50%;

    &-img {
      margin-bottom: 16px;

      &:hover {
        transform: scale(1.1);
        transition-duration: 0.5s;
      }

      @include onMobile {
        width: 343px;
        height: 240px;
      }
    }

    &-date {
      font-size: 16px;
      line-height: 24px;
      color: #adb8c8;
      margin-bottom: 8px;
    }

    &-title {
      margin-bottom: 8px;
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      
      color: #242424;
    }

    &-text {
      font-size: 16px;
      line-height: 24px;
      
      color: #78787A;
    }
  }
}