@import "../../mixins.scss";

.Header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  height: 64px;
  width: 100%;
  z-index: 1;

  justify-content: space-between;
  flex-direction: row;

  background-color: #fff;
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.1),
    0 0.4px 6.5px rgba(0, 0, 0, 0.05);

  &__side {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__logo {
    margin: 0 44px 0 24px;

    @include onMobile {
      margin: 0 0 0 16px;
    }
  }

  &__nav {
    @include onMobile {
      display: none;
    }

    &-list {
      height: 64px;
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 24px;
      align-items: center;
    }

    &-link {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none;
      color: #262626;

      &:hover {
        color: #04bf94;
        transition-duration: 0.5s;
      }
    }
  }
}
