@import "./reset.scss";

body {
  background: #f6f6f6;
  font-family: "Poppins", sans-serif;
}

.content {
  margin: 0 auto;
  width: 1074px;
}

.logo {
  height: 24px;
  width: 107px;
}

.search {
  height: 18px;
  width: 18px;
}

.user {
  height: 24px;
  width: 24px;
  margin: 0 24px 0 40px;
}
